numpy
pandas
matplotlib
lxml
seaborn
statsmodels
scipy
patsy
scikit-learn
beautifulsoup4
isodate
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
nltk
wordcloud
pprint
dotenv
langdetect
